.facts {
    width: 100%;
    padding: 0 10%;
    background-color: #25252d;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-image: url("../img/section-4/bg.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.facts-list {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts-items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.facts-item {
    max-width: 50%;
    display: flex;
    align-items: center;
    max-height: 10rem;
    background: rgb(74, 67, 65);
    background: linear-gradient(90deg, rgba(74, 67, 65, 1) 0%, rgba(74, 67, 65, 0) 100%);
    box-sizing: border-box;
    border-left: 3px solid #dab68e;
}

.facts-item img {
    padding-top: 2rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.facts-item__content {
    margin-left: 1.5rem;
}

.facts-item__header {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.fact {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.facts-attention {
    margin: 0;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    padding: 4rem 2.5rem;
    background-color: #28272d;
    border-radius: 1rem;
    border: 7px solid #1f1e24;
    color: #dab68e;
    font-size: 1.6rem;
    font-weight: 400;
}