.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}

.navbar-brand-img {
    padding-top: 20px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff !important;
    transition: all .2s;
}

.nav-link:hover {
    color: #eed0b2 !important;
}

.header-box {
    display: flex;
}

.phone-row {
    position: relative;
    padding-left: 50px;
    margin-bottom: 5%;
}

.header-phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 75px;
}

.phone-row img {
    position: absolute;
    top: 0;
    left: 0;
}

.phone-number {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 400;
    line-height: 1;
}

.caller-box-btn {
    font-size: 1.4rem;
    font-weight: 500;
    background: transparent;
    padding: 15px 40px;
    border: 2px solid #efd2b4;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    transition: all .2s;
}

.caller-box-btn:hover {
    background: #efd2b4;
    color: rgb(44, 44, 44);
}

@media (max-width: 1366px) {
    .header {
        padding: 0 8%;
    }
}

@media (max-width: 1280px) {
    .header {
        padding: 0 6%;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 0 2%;
        flex-wrap: nowrap;
    }

    .navbar {
        padding: 0;
    }

    .navbar-brand {
        margin: 0;
    }

    .header-phones {
        margin-right: 2rem;
    }

    .phone-number {
        font-size: 1.4rem;
    }

    .caller-box-btn {
        font-size: 1.4rem;
        padding: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .header {
        flex-wrap: wrap;
    }

    .navbar {
        width: 100%;
        padding: 0 5%;
        z-index: 9;
    }

    .intro-pluses {
        flex-direction: column !important;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    /* .header {
        background-color: rgb(32, 32, 32);
    } */

    li.nav-item {
        padding-left: 1.5rem;
    }

    li.nav-item:last-of-type {
        margin-bottom: 2rem;
    }

    .navbar {
        border-bottom: 2px solid #eed0b2;
    }

    .phone-number {
        line-height: 1.5;
    }

    .header-box {
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .header-phones {
        margin-bottom: 2rem;
    }

    .header-box .caller-box-btn {
        padding: 0.75rem 1rem;
        margin-bottom: 2rem;
    }
}