.more {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    background-color: #25252d;
    padding         : 15rem 10%;
    background-image: url("../img/more/bg.png");
    background-size : cover;
}

.more-box {
    position        : relative;
    width           : 100%;
    border          : 7px solid #dab68e;
    border-radius   : 1rem;
    margin-top      : 6rem;
    padding         : 5rem 65rem 0 0;
    box-sizing      : border-box;
    background-color: rgba(0, 0, 0, 0.15);
}

.more-box-title {
    font-size  : 2.7rem;
    font-weight: 500;
}

.more-box-list {
    display     : flex;
    flex-wrap   : wrap;
    width       : 100%;
    margin-top  : 3rem;
    padding-left: 5rem;
}

.more-box-list__item {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap;
}

.more-box-list__item img {
    padding-top: 1rem;
}

.more-box-list__item p {
    max-width  : 18rem;
    font-size  : 1.4rem;
    font-weight: 300;
}

.more-box-form {
    width                  : 100%;
    background-color       : rgba(255, 255, 255, 0.05);
    border-top-right-radius: 6rem;
    padding                : 2.5rem 5rem;
    padding-bottom         : 5rem;
}

.more-box-form input {
    display   : inline-block;
    margin-top: 3rem;
}

.more-box-form__title {
    font-size  : 1.6rem;
    font-weight: 500;
}

.form-title-attention {
    display       : inline-block;
    margin-left   : 5px;
    text-transform: uppercase;
    font-weight   : 600;
    color         : #dab68e;
    border-radius : 10px;
    border        : 3px dashed #dab68e;
    padding       : 7px;
}

.more-director {
    position: absolute;
    bottom  : -1.5rem;
    right   : 0;
}

@media(max-width: 1600px) {
    .more-box {
        padding-right: 35rem;
    }

    .more-box-form input[type='submit'] {
        padding: 1.25rem 2rem;
    }
}

@media(max-width: 1280px) {
    .more-box-form input[type='tel'] {
        width: 50%;
    }

    .more-box-form input[type='submit'] {
        padding: 1.25rem 2rem;
    }

    .more-box {
        padding-right: 32rem;
    }
}

@media(max-width: 1024px) {
    .more-box-form input[type='tel'] {
        width: 100%;
    }

    .more-box-form input[type='submit'] {
        width: 100%;
        margin-top: 2rem !important;
    }
}

@media (max-width: 768px) {
    .more {
        padding: 10%;
    }

    .more-box {
        margin-top: 3rem;
        padding: 2rem;
    }

    .more-box-title {
        padding: 0 !important;
    }

    .more-box-list {
        padding: 0;
    }

    .more-box-list__item {
        flex-wrap: nowrap;
    }

    .more-box-form {
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
        overflow: hidden;
    }

    .more-box-form input[type='submit'] {
        margin-bottom: 95rem !important;
        font-size: 1.2rem;
        padding: 1rem;
    }

    .more-director {
        width: 95%;
        bottom: -1rem;
    }

    .form-title-attention {
        margin-left: 0;
        padding: 3px;
        border-width: 2px;
    }
}


@media (max-width: 640px) {
    .more-box-form input[type='submit'] {
        margin-bottom: 75rem !important;
    }
}

@media (max-width: 560px) {
    .more-box-form input[type='submit'] {
        margin-bottom: 65rem !important;
    }
}

@media (max-width: 480px) {
    .more-box-form input[type='submit'] {
        margin-bottom: 55rem !important;
    }
}

@media (max-width: 360px) {
    .more-box-form input[type='submit'] {
        margin-bottom: 50rem !important;
    }
}