.project {
    width: 100%;
    position: relative;
    background-color: #000;
    background-image: url("../img/section-3/bg.png");
    background-size: cover;
    background-position: 0;
    padding: 15rem 10%;
}

.project-list {
    position: relative;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.pl-2 {
    justify-content: space-between;
}

.project-item {
    background-color: #232227;
    border: 7px solid #1f1e24;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.pi-2 {
    width: 24%;
    margin-bottom: 2rem;
}

.prj-prev-item, .prj-next-item {
    position: absolute;
    width: 2.3rem;
    height: 4.1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.prj-prev-item {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    /* background-image: url("../img/section-3/prev-slide.png") !important; */
}

.prj-next-item {
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    /* background-image: url("../img/section-3/next-slide.png") !important; */
}

.project-item:first-of-type {
    margin-left: 0;
}

.project-item-slider {
    width: 100%;
    position: relative;
}

.project-item-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 7px;
}

.project-item-slider-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1000;
    transform: translate(0, -50%);
    width: 2.6rem;
    height: 5.6rem;
    background-image: url("../img/section-3/prev.png");
}

.project-item-slider-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1000;
    transform: translate(0, -50%);
    width: 2.6rem;
    height: 5.6rem;
    background-image: url("../img/section-3/next.png");
}

.project-small-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-small {
    display: block;
    width: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 7px;
}

.slider-small:last-of-type {
    margin-right: 0;
}

.project-item-header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.5rem;
}

.project-size {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-size img {
    margin-right: 1rem;
}

.size {
    font-size: 1.8rem;
    font-weight: 300;
    margin-right: 1rem;
}

.project-info {
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: underline;
    color: #d8bb9c;
    margin-top: 2rem;
}

.project-btn {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
    padding: 1.25rem 5rem;
    border: none;
    border-radius: 2.5rem;
    background-color: #d8bb9c;
}

@media (max-width: 1440px) {
    .next-item {
        right: -2%;
    }

    .project-btn {
        padding: 1.25rem 2rem;
    }
}

@media (max-width: 1440px) {
    .next-item {
        right: -3%;
    }
}

@media (max-width: 1366px) {
    .next-item {
        right: -3%;
    }
}

@media (max-width: 1280px) {
    .next-item {
        right: -4%;
    }

    .pi-2 {
        width: 48%;
    }
}

@media (max-width: 1024px) {
    .project-item {
        /* max-width: 45%; */
        margin-bottom: 2rem;
    }

    .next-item {
        right: 1%;
    }

    .project-btn {
        padding: 1.25rem 2rem;
    }

    .pi-2 {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .project .section-header {
        font-size: 3rem;
    }

    .project-item {
        max-width: 100%;
    }

    .prj-prev-item {
        top: 84%;
        left: 40%;
    }

    .prj-next-item {
        top: 84%;
        right: 40%;
    }
    
    .project-btn {
        padding: 1.25rem 2rem;
    }

    .pi-2 {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .prj-prev-item {
        top: 83%;
        left: 40%;
    }

    .prj-next-item {
        top: 83%;
        right: 40%;
    }
}

@media (max-width: 560px) {
    .prj-prev-item {
        top: 82.5%;
        left: 40%;
    }

    .prj-next-item {
        top: 82.5%;
        right: 40%;
    }
}

@media (max-width: 480px) {
    .prj-prev-item {
        top: 82%;
        left: 40%;
    }

    .prj-next-item {
        top: 82%;
        right: 40%;
    }
}

@media (max-width: 375px) {
    .prj-prev-item {
        top: 81%;
        left: 40%;
    }

    .prj-next-item {
        top: 81%;
        right: 40%;
    }
}

@media (max-width: 360px) {
    .prj-prev-item {
        top: 81.5%;
        left: 40%;
    }

    .prj-next-item {
        top: 81.5%;
        right: 40%;
    }
}

@media (max-width: 320px) {
    .project .section-header {
        font-size: 2.5rem;
    }

    .prj-prev-item {
        top: 80%;
        left: 40%;
    }

    .prj-next-item {
        top: 80%;
        right: 40%;
    }
}