.responsibility {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15rem 100rem 15rem 10%;
    background-color: black;
    background-image: url("../img/section-9/bg.png");
    background-size: cover;
    background-position-y: 90%;
}

.responsibility-list {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
}

.responsibility-item {
    padding: 3rem;
    margin: 1rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 7px solid #dab68e;
}

.responsibility-header {
    font-size: 2.2rem;
    font-weight: 500;
}

.responsibility-content {
    font-size: 1.4rem;
    font-weight: 400;
}