@import url("../fonts/Gilroy/stylesheet.css");
@import url("./header.css");
@import url("./intro.css");
@import url("./offer.css");
@import url("./project.css");
@import url("./facts.css");
@import url("./individual.css");
@import url("./objects.css");
@import url("./cliens.css");
@import url("./responsibility.css");
html {
    font-size: 10px;
}

.container-fluid {
    position: relative;
    padding: 0;
    font-family: "Gilroy", sans-serif;
    color: #fff;
    box-sizing: border-box;
}

.section-header {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.section-header__fill {
    font-weight: 400;
    color: #dab68e;
}

.section-separator {
    font-size: 2.4rem;
}

.hidden {
    display: none;
}

input[type='radio']:after {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #212026;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #212026;
    box-shadow: 0 0 15px rgba(240, 213, 185, 0.1);
}

input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #e8c6a1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #e8c6a1;
    box-shadow: 0 0 15px rgba(240, 213, 185, 0.1);
}

.section-preheader {
    font-size: 1.6rem;
    font-weight: 400;
}

.testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15rem 18%;
    background-color: #25252d;
    background-image: url("../img/section-10/bg.png");
    background-size: cover;
    background-position: 25%;
}

.testimonials-slider,
.testimonials-videos {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.testimonials-slider-prev {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0, -50%);
    width: 2.3rem;
    height: 4.1rem;
    background-image: url(../img/section-10/prev.png);
}

.testimonials-slider-next {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(0, -50%);
    width: 2.3rem;
    height: 4.1rem;
    background-image: url(../img/section-10/next.png);
}

.testimonials-slider__item,
.testimonials-video {
    position: relative;
    box-sizing: border-box;
    border: 7px solid #212026;
}

.testimonials-slider__item img,
.testimonials-preview {
    max-height: 39.5rem;
    object-fit: cover;
    object-position: center;
}

.testimonials-play {
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}