@import url("../fonts/Gilroy/stylesheet.css");
@import url("./header.css");
@import url("./intro.css");
@import url("./offer.css");
@import url("./project.css");
@import url("./facts.css");
@import url("./individual.css");
@import url("./objects.css");
@import url("./cliens.css");
@import url("./responsibility.css");
@import url("./testimonials.css");
@import url("./questions.css");
@import url("./more.css");
@import url("./contacts.css");
@import url("./footer.css");
@import url("./stages.css");

html {
    font-size: 10px;
}

.row {
    margin: 0;
}

.container-fluid {
    position   : relative;
    padding    : 0;
    font-family: "Gilroy", sans-serif;
    color      : #fff;
    box-sizing : border-box;
}

.section-header {
    font-size     : 4rem;
    font-weight   : 700;
    text-transform: uppercase;
    margin        : 0;
}

.section-header__fill {
    font-weight: 400;
    color      : #dab68e;
}

.section-separator {
    font-size: 2.4rem;
}

.hidden {
    display: none;
}

input[type='text'],
input[type='tel'] {
    width        : 50%;
    height       : 4rem;
    margin-right : 2rem;
    border       : none;
    border-bottom: 2px solid #d8bb9c;
    background   : rgb(74, 67, 65);
    background   : linear-gradient(0deg, rgba(74, 67, 65, 1) 0%, rgba(74, 67, 65, 0) 100%);
    font-size    : 1.4rem;
    padding      : 1rem;
    outline      : none;
    caret-color  : #fff;
    color        : #fff;
}

input[type='submit'] {
    border          : none;
    margin          : 0 auto;
    text-transform  : uppercase;
    margin-top      : 6rem;
    margin-bottom   : 2rem;
    font-size       : 1.4rem;
    font-weight     : 500;
    padding         : 1.25rem 5rem;
    border          : none;
    border-radius   : 2.5rem;
    background-color: #d8bb9c;
}

input[type='radio']:after {
    width           : 25px;
    height          : 25px;
    border-radius   : 25px;
    top             : -2px;
    left            : -1px;
    position        : relative;
    background-color: #212026;
    content         : '';
    display         : inline-block;
    visibility      : visible;
    border          : 2px solid #212026;
    box-shadow      : 0 0 15px rgba(240, 213, 185, 0.1);
}

input[type='radio']:checked:after {
    width           : 25px;
    height          : 25px;
    border-radius   : 25px;
    top             : -2px;
    left            : -1px;
    position        : relative;
    background-color: #e8c6a1;
    content         : '';
    display         : inline-block;
    visibility      : visible;
    border          : 2px solid #e8c6a1;
    box-shadow      : 0 0 15px rgba(240, 213, 185, 0.1);
}

.section-preheader {
    font-size  : 1.6rem;
    font-weight: 400;
}

